<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358127619376-p0982688utki9gp2jcp7s7mr4r9bcatd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358127619376-p0982688utki9gp2jcp7s7mr4r9bcatd</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Uyzx9a5fH30ES9o_yKrn80fehEGA_iw</string>
	<key>GCM_SENDER_ID</key>
	<string>358127619376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utng.Agua</string>
	<key>PROJECT_ID</key>
	<string>crud-water</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-water.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358127619376:ios:b2ec67a7b414b369</string>
	<key>DATABASE_URL</key>
	<string>https://crud-water.firebaseio.com</string>
</dict>
</plist>